<h1>Edit Post</h1>

<form action="/posts/<%= @post.id %>" method="post">
	<input type="hidden" name="_method" value="patch">
	<label>Title: </label>
	<input type="text" name="title" value="<%= @post.title%>"><br>
	<label>Content: </label>
	<textarea name="body" value="<%= @post.body%>"><%= @post.body %></textarea><br>
	<input type="submit" value="Update profile">
</form>