<h1>Create New Post</h1>

<form action="/posts" method="POST">
	<label>Title: </label>
	<input type="text" name="title"><br>
	<label>Content: </label>
	<textarea name="body"></textarea><br>
	<input type="submit" value="Create post">
</form>