<h1>Login</h1>

<p><%= @error %></p>
<form action="/users/login" method="POST">
	<input type="email" placeholder="Email" name="email"><br>
	<input type="password" placeholder="Password" name="password"><br>
	<input type="submit" value="Login">
</form>


