<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Welcome to Quora!</title>
			<link rel="stylesheet" type="text/css" href="/css/application.css">
			<script type="text/javascript" src="/js/application.js"></script>
	</head>
	<p style="text-align:left;">
		<font size="20"><strong>Clora</strong></font>
		<span style="float:right;"><strong>User = <%= current_user.name %></strong></span>
	</p>

<body>
	<%= yield %>
</body>
</html>